.sidebar {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    height: 100%;
}

#sidebar-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#sidebar-item {
    margin: 10px;
    font-size: 20px;
    color: #e1e400;
}

#sidebar-user-icon {
    height: 40px;
}